<h1>CDs</h1>
<p>Add a new cd to your collection here.</p>
<form action="/cd" method="post">
  <label for="categoryTitle">CD title:</label>
  <input id="categoryTitle" name="categoryTitle" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/">Back to categories.</a></p> <!--Need to add path>
