<h1>Organize your CDs!</h1>

<p><a href="">See a list of artists.</a></p>
<p><a href="/artist/new">Add to your collection by artist.</a></p>
<p><a href="">See your collection.</a></p>
<p><a href="">Add to your collection by CD.</a></p>
