<h1>Organize your CDs!</h1>

<p><a href="/artist/{id}">See a list of artists.</a></p>
<p><a href="/artist/new">Add to your collection by artist.</a></p>
<p><a href="">See your collection.</a></p>
<p><a href="/cd/new">Add to your collection by CD.</a></p>
